[submodule "2023/11/TestAnAngularInterceptor"]
	path = 2023/11/TestAnAngularInterceptor
	url = C:\\Projects\\career\\Active\\JeffryHouserCom\\Development\\BlogExampleSource\\2023\\11\\TestAnAngularInterceptor
